<section id="projects">

    <div class="container section-title block-title d-flex align-items-center">
        <div class="horizontal-line mr-4"></div>
        <h2 class="m-0 text-uppercase">Projets
            <span>Mes Projets</span>
        </h2>   
    </div>

    <div class="projects-section container-fluid">
    
        {% for project in projects %}
            
            <div class="row single-project-block">

                <div class="col-6 image-block" style="background-image: url({{ asset( project.image ) }})">
                    
                </div>

                <div class="col-6 project-info-block ">
                
                    <div class="container block-title d-flex align-items-center">
                        <div class="horizontal-line mr-4"></div>
                        <h2 class="m-0 text-uppercase">Projet
                            <span>{{ project.title }}</span>
                        </h2>  
                    </div>

                    <p class="project-subtitle text-uppercase">{{ project.subtitle }}</p>

                    <div class="buttons text-right">
                        <a class="button button--outlined" href="{{ project.url }}" target="_blank">Voir le site</a>
                        <a class="button button--gold" data-toggle="modal" data-target="#project{{ project.id }}" href="#" target="_blank">
                            En savoir plus
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ml-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade p-0" id="project{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content d-flex flex-row">
                        
                            <div class="modal-content__image col-4 p-0">
                                <img src="{{ asset(project.image) }}" alt="Capture d'écran du projet">
                            </div>
                            <div class="modal-content__info col-8">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="container block-title d-flex align-items-center p-0">
                                    <div class="horizontal-line mr-4"></div>
                                    <h2 class="m-0 text-uppercase">Projet
                                        <span>{{ project.title }}</span>
                                    </h2>  
                                </div>

                                <p class="mb-5 mt-2">{{ project.subtitle }}</p>
                                
                                <p class="mb-5">{{ project.description }}</p>



                                <a href="{{ project.url }}" target="_blank" type="button" class="button button--outlined" data-dismiss="modal">Voir le site</a>
                                {% if project.github %}
                                    <a href="{{ project.github }}" type="button" target="_blank" class="button button--gold">Voir le code</a>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        {% endfor %}
    
    </div>

</section>